*{
  margin: 0;
  padding: 0;
}

@media(max-width:991px){
  aside{
      display: none !important;
  }
  .Home{
    margin: 0 !important;
    overflow-x: hidden !important;
    width: fit-content !important;
  }
  .Profile{
    margin: 0 !important;
  }
  .CreateTweet{
    padding: 0 !important;
  }
  .TweetCard{
    padding: 0 !important;
  }
  textarea{
    width: 100% !important;
  }
}