*{
  margin: 0;
  padding: 0;
}
.TweetCard:last-child{
  margin-bottom: 0;
}
@media(max-width:991px){
  aside{
      display: none !important;
  }
  .Home{
    margin: 0 !important;
    overflow-x: hidden !important;
    width: 100% !important;
  }
  .Profile{
    margin: 0 !important;
  }
  .CreateTweet{
    padding: 0 !important;
  }
  .TweetCard{
    padding: 0 !important;
  }
  .TweetCard:last-child{
    margin-bottom: 5rem;
  }
  textarea{
    width: 100% !important;
  }
  .MyFollowing{
    width: 100% !important;
    margin: 0 !important;
  }
  .BottomNav{
    display: flex !important;
    justify-content: space-between;
    align-items: center;
  }
}